<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>mainpage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Showitemdetail</servlet-name>
    <servlet-class>Servlet.ShowItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showitemdetail</servlet-name>
    <url-pattern>/showitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>Servlet.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/helpRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>Servlet.HandleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/helpLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>Servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Showitemlist_class1</servlet-name>
    <servlet-class>Servlet.ShowItemList_class1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showitemlist_class1</servlet-name>
    <url-pattern>/showlist_class1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Showitemlist_class2</servlet-name>
    <servlet-class>Servlet.ShowItemList_class2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showitemlist_class2</servlet-name>
    <url-pattern>/showlist_class2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Showcart</servlet-name>
    <servlet-class>Servlet.ShowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showcart</servlet-name>
    <url-pattern>/showcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sub</servlet-name>
    <servlet-class>Servlet.SubToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sub</servlet-name>
    <url-pattern>/subtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changePd</servlet-name>
    <servlet-class>Servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePd</servlet-name>
    <url-pattern>/changePd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeEm</servlet-name>
    <servlet-class>Servlet.ChangeEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeEm</servlet-name>
    <url-pattern>/changeEm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeAd</servlet-name>
    <servlet-class>Servlet.ChangeAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeAd</servlet-name>
    <url-pattern>/changeAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Showorder</servlet-name>
    <servlet-class>Servlet.ShowOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showorder</servlet-name>
    <url-pattern>/showorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Handleorder</servlet-name>
    <servlet-class>Servlet.HandleOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Handleorder</servlet-name>
    <url-pattern>/handleorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ordermanager</servlet-name>
    <servlet-class>Servlet.OrderManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ordermanager</servlet-name>
    <url-pattern>/ordermanager</url-pattern>
  </servlet-mapping>
</web-app>